/* You can add global styles to this file, and also import other style files */

.error{
    color:crimson;
    font-weight:bold;
}

.center{
    text-align:center;
}

h2{
    margin-top:25px;
}

body{
    background-color:lightblue;
}