<div class="box">
  <h4 class="title">User: {{group.user}}</h4>
  <div class="pokemonstuff">
    <div>
      <form (submit)="createPokemon(newPokemon.name)" class="form-horizontal">
        <div class="form-group">
          <label for="name">Add pokemon:</label>
          <div *ngIf = "errors">
            <div *ngFor="let err of errors">
              <p class="error">{{err}}</p>
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Pokemon name" [(ngModel)] = "newPokemon.name" name = "newPokemon.name" id="name">
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>
    </div>
    <div>
      <h4 class="center">My pokemon (click on image for more info!)</h4>
      <div class="pokes">
        <div *ngFor = "let poke of allPokemon">
          <a (click)= "deletePokemon(poke._id)"><i class="fas fa-minus-circle"></i></a>
          <a [routerLink] = "['/pokemon', poke._id]"><img class="single" src="http://pokeapi.co/media/img/{{poke.number}}.png/"></a>
        </div>
      </div>
    </div>
  </div>
  <button (click) = "deleteGroup(group._id)" class="btn btn-danger">Delete group</button>
</div>
